html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(0, 40, 100);
}
.navbar a {
  float:none;
  font-weight: bold;
  text-align: center;
  margin: 16px;
  font-size: 30px;
  text-shadow: 2px 2px 5px black;
}
.links a:hover {
  background-color: rgb(0, 20, 50);

}
.navbar a:active {
  background-color: #b4b4d4;
  color: white;
}
h1 {
  display: inline-block;
  font-weight: bold;
  color: rgb(90, 120, 150);
  font-size: 500%;
  text-shadow: 5px 5px 0px black;
}
.circle {
  height: 25px;
  width: 25px;
  border-radius: 0% 50% 50% 50%;
  margin-left: 5px;
  background-color: rgb(0, 60, 255);
  display: inline-block;
}
canvas {
  margin: auto;
  padding: 10px;
  display: block;
}
.sig {
  color: rgb(90, 120, 150);
  font-weight: bold;
  position: absolute;
  bottom: 0;
  right: 0;
}
